$white: #f5fbf2;
$yellow: #ffce4e;
$black: #000000;
$grey: #9b9e9a;
$purple: #3d2942;
$beige: #c6bfc8;
$dark_pink: #bdaac1;
$dark_purple: #76607a;
$dark_placeholder: #a48ea9;
$dark_biege: #96839b;
